html {
    color:#9ee9e9;
    font-family: 'lato' ,'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;    
}
.second-main{
    font-family: 'Lato', sans-serif;
    background-image: url('b4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 15px;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
    color:#9cf3f9;
}
h3
{
    color:#000000 !important;
}

.result-img
{
    width: 500px;
    height: 250px;
    border : 2px solid rgb(139, 141, 141);
}

th,td {
    color: #000000;
    border: 1px solid #000000 !important;
}

.header
{
    width: 100%;
    padding-top: 5px;
}
.info
{
    padding-top: 5px;
    width: 100%;
    margin-top: 1%;

}
.header-text
{
    letter-spacing: 1px;
}

.table-custom
{
    width: 60%;
}

@media screen and (max-width: 615px)
{

    th
    {
        font-size: 17px!important;
    }

    td
    {
        font-size: 16px!important;
    }
    .header-text
    {
        letter-spacing: 1px;
        font-size: 22px!important;    
    }

    .result-img
    {
        width: 200px;
        height: 200px;
        border : 2px solid #3b6978;
    }
    .header
    {
        margin-top: 5%!important;
    }
    .info
    {
        margin-top: 10%!important;
    }

    .table-custom
    {
        width: 80%;
    }
}

@media screen and (min-width: 615px) and (max-width: 915px)
{
    .result-img
    {
        width: 250px;
        height: 250px;
        border : 2px solid #3b6978;
    }
}

.main-nav {
    
    list-style: none;
    float: right;
    margin-left: 10px
    
}

.main-nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 30px;
}

.main-nav li a:link, .main-nav li a:visited {
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #000000; 
}
.myFile {
  position: relative;
  overflow: hidden;
  float: left;
  clear: left;
}
.myFile input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}




